.data1{
    font-size:40px;
}
.desc{
    font-weight: 350;
    opacity:0.8;
}
.body{
    font-size:34px;
}
.title{
    font-size: 27px;
    font-weight: 360;
}
.bodydevelopment{
    font-size: 27px;
    font-weight: 500;
}