.navbar {
    font-size: 15px;

    background-color: #fcd151;
}

.navitems {
    color: #666666;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

.active {
    border-bottom: 1px solid #333333;
}

.navMobile {
    display: none;
}

@media (max-width: 1000px) {
    .navMobile {
        display: inline-block;
        text-align: right;
        cursor: pointer;
    }
}
.title{
    text-align: center;
    font-size: 34px;
    margin-top: 50px;
    font-weight: 600;
}